# files
.DS_Store
*.py[cod]
mongo_import.py

# folders
__pycache__/
json/
node_modules/

# production
build/

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*